## Settings file was created by plugin KnarrTheTrader v0.2.9
## Plugin GUID: com.zarboz.KnarrTheTrader

[General]

## Lock Configuration
# Setting type: Boolean
# Default value: false
Lock Configuration = false

## This is the prefab name for the currency that Knarr uses in his trades
# Setting type: String
# Default value: Coins
Config Prefab Name = Coins

## This is the location on screen of the traders for sale screen
# Setting type: Vector3
# Default value: {"x":0.0,"y":0.0,"z":0.0}
Position Of Trader Prefab On Screen = {"x":0.0,"y":0.0,"z":0.0}

## Whether or not knarr should spawn using locationsystem
# Setting type: Boolean
# Default value: false
Should Knarr randomly spawn around your world? = false

## This is to log when a player buys an item from Knarr and in what volume
# Setting type: Boolean
# Default value: false
Log what/when/to whom knarr sells things = false

## If set true Knarr will only vend a player recipes the player has discovered already
# Setting type: Boolean
# Default value: false
Only sell known recipes = false

## If set true Knarr will still vend materials
# Setting type: Boolean
# Default value: false
Sell Mats when hiding unknown recipes = false

## If set true Knarr will edit the values in the YML file when a player buys or sells items to him
# Setting type: Boolean
# Default value: true
Change the YML file on sells/buys = true

## This is the lucky number for your repair button if you roll this number your repairs will go through
# Setting type: Int32
# Default value: 6
# Acceptable value range: From 0 to 6
Lucky Number for repairs = 6

## This is the setting to enable/disable the selling interface
# Setting type: Boolean
# Default value: true
Show the Buy/Sell tabs = true

## This is the setting to enable/disable showing of the repair icon
# Setting type: Boolean
# Default value: true
Show the Repair Icon = true

[Localization]

## The Translation for the Buy Page Tab
# Setting type: String
# Default value: Buy
Buy Page Tab = Buy

## The Translation for the Sell Page Tab
# Setting type: String
# Default value: Sell
Sell Page Tab = Sell

