## Settings file was created by plugin DoOrDieItems v0.1.13
## Plugin GUID: horemvore.DoDItems

[1 Enable Mod]

## Enables the mod
# Setting type: Boolean
# Default value: true
Enable = true

[10 EVA]

## Changes new Anvils to effect Thors Forge from EVA instead of the normal Forge.
# Setting type: Boolean
# Default value: false
Enable = false

[2 Armor Kits]

## Enables Armor Kits, if you disable these you will have to disable bosses below
# Setting type: Boolean
# Default value: true
Enable = true

[3 Weapon Kits]

## Enables Weapon Kits, if you disable these you will have to disable all the Weapons below
# Setting type: Boolean
# Default value: true
Enable = true

[4 Weapons - Magic Overhaul Themed]

## Enables Magic Overhaul Themed Class Weapons and items, requires Weapon Kits
# Setting type: Boolean
# Default value: true
Enable = true

[5 Weapons - Do or Die]

## Enables Weapons, requires Weapon Kits
# Setting type: Boolean
# Default value: true
Enable = true

[6 Shields]

## Shields, requires Armor Kits
# Setting type: Boolean
# Default value: true
Enable = true

[7 Deep North Ore Location]

## A location consisting of a large deposit of Valhallium
# Setting type: Boolean
# Default value: true
Enable = true

[8 Mistlands Ore Location]

## A location consisting of a large deposit of Adamantine
# Setting type: Boolean
# Default value: true
Enable = true

[9 Ores]

## Adds small deposits of Adamantine and Valhallium
# Setting type: Boolean
# Default value: true
Enable = true

